.git
.DS_Store
Thumbs.db
/wp-content/uploads
wp-config.php

/wp-content/plugins/seriously-simple-podcasting/.idea
/wp-content/plugins/seriously-simple-podcasting/.distignore
/wp-content/plugins/seriously-simple-podcasting/.gitignore
/wp-content/plugins/seriously-simple-podcasting/_repo_assets
/wp-content/plugins/seriously-simple-podcasting/bin
/wp-content/plugins/seriously-simple-podcasting/node_modules
/wp-content/plugins/seriously-simple-podcasting/tests
/wp-content/plugins/seriously-simple-podcasting/.editorconfig
/wp-content/plugins/seriously-simple-podcasting/.env.testing
/wp-content/plugins/seriously-simple-podcasting/.phpcs.xml.dist
/wp-content/plugins/seriously-simple-podcasting/.travis.yml
/wp-content/plugins/seriously-simple-podcasting/codeception.dist.yml
/wp-content/plugins/seriously-simple-podcasting/composer.json
/wp-content/plugins/seriously-simple-podcasting/composer.lock
/wp-content/plugins/seriously-simple-podcasting/Gruntfile.js
/wp-content/plugins/seriously-simple-podcasting/package.jason
/wp-content/plugins/seriously-simple-podcasting/package-lock.json
/wp-content/plugins/seriously-simple-podcasting/phpunit.xml.dist
/wp-content/plugins/seriously-simple-podcasting/README.md

/wp-content/plugins/seriously-simple-podcasting/phpcs.xml
/wp-content/plugins/seriously-simple-podcasting/phpunit.xml
/wp-content/plugins/seriously-simple-podcasting/wp-cli.local.yml
/wp-content/plugins/seriously-simple-podcasting/node_modules/
/wp-content/plugins/seriously-simple-podcasting/*.sql
/wp-content/plugins/seriously-simple-podcasting/*.tar.gz
/wp-content/plugins/seriously-simple-podcasting/*.zip
/wp-content/plugins/seriously-simple-podcasting/.idea
/wp-content/plugins/seriously-simple-podcasting/.env*
/wp-content/plugins/seriously-simple-podcasting/log
/wp-content/plugins/seriously-simple-podcasting/package-lock.json
/wp-content/plugins/seriously-simple-podcasting/webpack.config.min.js
/wp-content/plugins/seriously-simple-podcasting/vendor/


/wp-content/plugins/seriously-simple-stats/.gitignore
/wp-content/plugins/seriously-simple-stats/bin
/wp-content/plugins/seriously-simple-stats/tests
/wp-content/plugins/seriously-simple-stats/_repo_assets/
/wp-content/plugins/seriously-simple-stats/travis.yml
/wp-content/plugins/seriously-simple-stats/phpcs.xml.dist
/wp-content/plugins/seriously-simple-stats/phpunit.xml.dist
/wp-content/plugins/seriously-simple-stats/bin
/wp-content/plugins/seriously-simple-stats/.idea
/wp-content/plugins/seriously-simple-stats/*.iml
/wp-content/plugins/seriously-simple-stats/.distignore
/wp-content/plugins/seriously-simple-stats/.travis.yml
/wp-content/plugins/seriously-simple-stats/composer.json
/wp-content/plugins/seriously-simple-stats/composer.lock


/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/.gitignore
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/composer.phar
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/composer.lock
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/tests
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/.coveralls.yml
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/.gitattributes
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/.gitignore
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/.styleci.yml
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/.travis.yml
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/CONTRIBUTING.md
/wp-content/plugins/seriously-simple-stats/vendor/jaybizzle/crawler-detect/phpunit.xml


